@import './../../styles/variables.module';
@import './../../styles/mixins.module';

.contact {
    width: 100%;
    margin-top: 8rem;
    position: relative;
    background-color: hsl(133, 32%, 97%);
    padding-bottom: 10rem;
    overflow: hidden;
    background-image: url(../../assets/images/decoration3.svg);

    @media (min-width: $bp-largest) {
        margin-top: 10rem;
        height: 40rem;
    }

    @media (max-width: $bp-smallest) {
        padding-bottom: 18rem;
    }
}

.content {
    width: 80%;
    margin: 1rem auto 0 auto;
    display: flex;
    //background-image: url(../../assets/images/decoration3.svg);

    @media (max-width: $bp-medium) {
        flex-direction: row;
        justify-content: center;
    }

    @media (max-width: $bp-smallest) {
        width: 100%;
    }
}

.infoBox {
    position: absolute;
    top: 19rem;
    right: 10%;
    width: 30rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-self: flex-end;

    @media (max-width: $bp-small) {
        top: 30rem;
    }

    @media (max-width: $bp-smallest) {
        right: 50%;
        transform: translateX(50%);
        width: 90%;
    }
}

.icon {
    font-size: 6rem;
    color: $color-polished-pine-light3;
    transition: all .3s;

    &:hover {
        cursor: pointer;
        color: $color-polished-pine-dark3;
    }

    @media (min-width: $bp-largest) {
        font-size: 9rem;
    }

    @media (max-width: $bp-medium-extra) {
        font-size: 5rem;
    }
}

.sloganBox {
    position: absolute;
    top: 17rem;
    left: 10%;

    @media (max-width: $bp-smallest) {
        right: 50%;
        transform: translateX(50%);
    }
}

.describeBox {
    position: absolute;
    right: 10%;
    top: 88%;

    @media (max-width: $bp-smallest) {
        right: 50%;
        transform: translateX(50%);
        width: 96%;
        @include flex-center-row;
        margin-top: -10rem;
    }
}